<!doctype html>
<html lang="en" ng-app="prepTickets">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->

  <title>Prep Tickets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "app.css" %>
</head>
<body ng-cloak>
  <div ng-view></div>
  
  <%= javascript_link_tag 'app.js' %>
</body>
</html>
