<!doctype html>
<html lang="en" ng-app="prepTickets">
<head>
  <meta charset="utf-8">
  <title>Prep Tickets</title>
  <%= stylesheet_link_tag "app.css" %>
</head>
<body ng-cloak>
  <div ng-view>poo</div>
  
  <%= javascript_link_tag 'app.js' %>
</body>
</html>
